{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>China Up To Date</title>
  </head>
  <body>
    <!-- navbar that will appear on every page -->
    <nav class="bg-red-400 h-24">
      <h1>Navbar</h1>
      h1>
    </nav>
    <!-- end of navbar -->

    {{block "content" .}}
    <!-- all other pages and their content will be referenced here -->
    {{end}}

    <!-- footer that will appear on every page -->

    <footer class="h-24 bg-blue-400">
      <h1>footer</h1>
      h1>
    </footer>
    <!-- end of the footer -->

    {{block "js-code" .}}
    <!-- every jsvascript code will be referenced here -->
    {{end}}
  </body>
</html>
